

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-main-header></app-main-header>
<app-main-sidebar></app-main-sidebar>
<app-content-wrapper></app-content-wrapper> <!-- load the main content -->
<app-control-sidebar></app-control-sidebar>
<app-main-footer></app-main-footer>

<router-outlet></router-outlet>
